import argparse

def main():
    parser = argparse.ArgumentParser(description="{{desc}}")
    parser.add_argument("--foo", help="foo")
    args = parser.parse_args()
    print(args)

if __name__ == "__main__":
    main()
